* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 100px;
  background-color: #000;
  width: 650px;
  max-width: 60%;
  min-width: 450px;
  margin-inline: auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(250, 235, 215, 0.8);
  color: #fff;
}

h1 {
  padding: 1rem;
  font-size: 2.5rem;
}

#timerReading {
  font-size: 2.5rem;
  padding: 1rem;
}

.buttons {
  display: flex;
  gap: 2rem;
}

button {
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  background-color: rgb(76, 0, 255);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}

button:hover {
  box-shadow: 0px 0px 50px rgba(246, 241, 241, 0.8);
  font-weight: 900;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
