* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: white;
}

.search {
    margin-top: 3rem;
    padding: 1rem;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);

}

input {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border-color: blue;
}
button {
    font-size: 1.2rem;
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 10px;
    color: azure;
    font-weight: 600;
    cursor: pointer;
}

.search-result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    
}

.image-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.image-card {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 370px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);

    
}

img { 
    object-fit: cover;
    margin-inline: auto;
    height: 350px;
    width: 350px;
   
}



p {
    text-justify: auto;
    padding: 10px;

}

.image-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
    border: 1px solid green;

}

#loading {
    padding: 2rem;
}